<div class="card p-2">
    <div class="d-flex justify-content-start align-items-center" [ngStyle]="{backgroundColor:'var(--blue-500)'}">
        <i class="pi pi-file-pdf ml-2" style="color: white; font-size:18px"></i>
        <h5 class="p-2 m-0  style-font" style="color: white"> C10 : หน้ารายงาน</h5>
    </div>

    <div class="container">
        <form [formGroup]="duration" (ngSubmit)="onSubmit()">
            <div class="mt-3">
                <div class="grid">
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <label class="d-flex align-items-center" for="date">จากเดือน</label>
                    </div>
                    <div class="col-8 d-flex justify-content-start align-items-center">
                        <p-calendar class="mr-3" formControlName="s_month"  view="month" dateFormat="mm/yy"
                            [yearNavigator]="true" [showIcon]="true" placeholder="เลือกเดือน" [maxDate]="duration.value.e_Month"
                            [readonlyInput]="true" [readonlyInput]="true" inputId="month" yearRange="2000:2030">
                        </p-calendar>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="grid">
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <label class="d-flex align-items-center" for="date">ไปยังเดือน</label>
                        </div>
                        <div class="col-8 d-flex justify-content-start align-items-center">
                            <p-calendar formControlName="e_month" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                                [showIcon]="true" placeholder="เลือกเดือน" [minDate]="duration.value.s_Month" [readonlyInput]="true"
                                [readonlyInput]="true" inputId="month" yearRange="2000:2030"></p-calendar>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <div class="grid">
                        <div class="col-4"></div>
                        <div class="col-8 d-flex flex-wrap justify-content-start align-items-center">
                            <button pButton pRipple type="submit" icon="pi pi-file-pdf"
                                class="p-button-rounded style-button" label="download pdf"
                                [style]="{'width': '240px','height': '32px'}">
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>


    </div>
</div>
