@import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap");
$c10: #2399e5;
$c10-gray: #e0e0e0;
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

img {
    margin: 0px;
    padding: 0px;
    width: 50px;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

.terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.border-radius {
    border-radius: 1px solid var(--surface-d);
}

.backgroundColor-icons {
    font-size: 19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--blue-500);
    background-color: var(--gray-200);
}

.style-font {
    color: black;
    // font-family: "IBM Plex Sans Thai", sans-serif;
    font-family: "Bai Jamjuree", sans-serif;
}

.container ::ng-deep p-calendar .ui-datepicker table td {
    padding: 1px !important;
}
.container ::ng-deep p-calendar .ui-datepicker .ui-timepicker {
    padding: 2px 0 0 0 !important;
}
.container ::ng-deep p-calendar .ui-datepicker {
    padding: 0.857em 0.857em 0 0.857em !important;
}
