<p>home-list works!</p>

<!-- <div class="card p-p-2 p-mr-2">
    <div class="p-d-flex p-jc-start p-ai-center" [ngStyle]="{backgroundColor:'var(--blue-500)'}">
        <i class="pi pi-home p-ml-2" style="color: white; font-size:18px"></i>
        <h5 class="p-p-2 p-m-0  style-font" style="color: white"> C10 : หน้าแรก</h5>
    </div>

    <div class="p-flex-column p-flex-md-row p-d-flex p-jc-between p-ai-center p-mt-2">
        <span class="p-ai-center">
            <label class="p-col-fixed p-pl-0" style="width: auto">รูปแบบการแสดง</label>
            <p-dropdown [options]="item_Pattern" [(ngModel)]="value_Pattern" placeholder="แสดงเป็นวัน"></p-dropdown>
        </span>

        <span>
            <label class="p-col-fixed" style="width: auto">ช่วงเวลาที่แสดง</label>
            <p-calendar class="p-mr-2" [(ngModel)]="s_Date" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                placeholder="วันที่เริ่มต้น" [maxDate]="e_Date" [readonlyInput]="true" inputStyleClass="text-center">
            </p-calendar>
            <p-calendar [(ngModel)]="e_Date" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                placeholder="วันที่สิ้นสุด" [minDate]="s_Date" [readonlyInput]="true" inputStyleClass="text-center">
            </p-calendar>
        </span>

        <span>
            <p-button icon="pi pi-check" (click)="onConfirm()" label="ยืนยัน" class="p-button-text">
            </p-button>
        </span>
    </div>
    <br> -->
    <!-- <p-chart type="line" [data]="data"></p-chart> -->
<!-- </div> -->