@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
}

.spacer {
    flex: 1;
}

img {
    margin: 0px;
    padding: 0px;
    width: 50px;
}

.border-radius {
    border-radius: 1px solid var(--surface-d);
}

.backgroundColor-icons {
    font-size: 19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--blue-500);
    background-color: var(--gray-200);
}

.style-font {
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 16px;
}

.style-button {
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 16px;
    height: 32px;
}

// :host::ng-deep .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
// body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
//     background: lightgreen;
// }

:host ::ng-deep .p-calendar-control {
    font-size: 10px !important;
    font-family: "Bai Jamjuree", sans-serif !important;
}

// :host ::ng-deep .p-calendar.calendar-control input {
//     border: 1px solid red;
//     background: #eeeeee;
//   }