<p-cascadeSelect [(ngModel)]="selectedCity1" [options]="countries"
  optionLabel="cname" optionGroupLabel="name"
  [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>

<div class="p-field p-col-12 p-md-4">
  <span class="p-float-label">
    <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    <label for="inputtext">InputText</label>
  </span>
</div>

<!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->