@import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap');
$c10: #2399e5;
$c10-gray: #e0e0e0;
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Bai Jamjuree', sans-serif;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

img {
    margin: 0px;
    padding: 0px;
    width: 50px;
}

.border-radius {
    border-radius: 1px solid var(--surface-d);
}

.backgroundColor-icons {
    font-size: 19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--blue-500);
    background-color: var(--gray-200);
}

.style-font {
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 16px;
}

.style-background-table {
    background-color: var(--blue-500);
}

.style-button {
    width: 100%;
    height:38px;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
}